<footer class="text-center p-2 mt-5 border-top" id="footer">
    <p>&#169; AP Hogeschool 2023  &middot; <a href="https://github.com/aoomsAP/the-one-quiz">GitHub</a></p>
    <p>Bronnen voor: <a href="https://commons.wikimedia.org/w/index.php?curid=98351026" title="The One Ring van Peter J. Yost">logo</a> &middot; 
                    <a href="https://wallpapersafari.com/w/pm6cBT">achtergrondafbeelding</a> &middot; 
                    <a href="https://www.fontspace.com/ringbearer-font-f2246" title="Ringbearer Font van Pete Klassen">font</a></p>
</footer>
</body>
</html>