<footer class="text-center p-2 mt-5" id="footer">
    <div class="custom-hr" aria-hidden="true">
        <span class="custom-hr-line"></span>
        <span class="custom-hr-symbol">&#9679;</span>
        <span class="custom-hr-line"></span>
    </div>
    <p>&#169; AP Hogeschool 2023  &middot; <a href="https://github.com/aoomsAP/the-one-quiz">GitHub</a></p>
    <p>Afbeeldingen gemaakt met: <a href="https://www.bing.com/create">Bing Image Creator</a> 
</footer>
</body>
</html>