<%- include('./partials/header-quiz'); %>

    <main class="container-sm p-3" id="blacklist">
        <!-- Title and intro -->
        <section class="mb-5">
            <h1>Blacklist</h1>
            <p>Hieronder vind je je blacklist. Deze quotes komen niet meer voor in de quiz. Klik op de pen om de
                opmerkingen te wijzigen, of op het vuilbakje om
                quotes uit je blacklist te verwijderen.</p>
        </section>
        <!-- Table with blacklisted quotes -->
        <section class="table-custom text-start p-0 rounded border overflow-hidden">

            <!-- Blacklist row -->
            <article class="p-3 border-bottom">
                <div class="d-flex">
                    <div class="table-id p-2 fw-bold ms-auto">#1</div>
                    <div class="table-quote w-50 me-1 p-2">Yes the white tree of Gondor. The tree of the King. Lord
                        Denethor
                        however, is not the King. He is a steward only, a caretaker of the throne.</div>
                    <div class="table-comment w-50 p-2 ms-1"><span class="text-decoration-underline">Jouw
                            opmerking:</span>&nbsp;Gandalf talks way too
                        much.</div>
                    <div class="table-icons me-auto">
                        <div class="table-edit-button ms-end p-2"><button type="button" data-bs-toggle="collapse"
                                data-bs-target="#comment1" aria-expanded="false" aria-controls="comment1"
                                class="btn btn-outline-primary" title="Wijzig deze opmerking"><i
                                    class="bi bi-pencil-square"></i></button></div>
                        <div class="table-delete-button ms-end p-2">
                            <button type="button" class="btn btn-outline-primary" title="Verwijder uit je blacklist"
                                data-bs-toggle="modal" data-bs-target="#deleteBlackList1">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Confirm delete window -->
                    <div class="modal fade" id="deleteBlackList1" tabindex="-1" aria-labelledby="deleteBlackList1"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title fs-5" id="deleteBlackList1">Weet je zeker dat je deze
                                        quote uit je blacklist wil verwijderen?</h2>
                                </div>
                                <div class="modal-body">
                                    <p>Yes the white tree of Gondor. The tree of the King. Lord Denethor
                                        however, is not the King. He is a steward only, a caretaker of the
                                        throne.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        aria-label="Close">Behouden</button>
                                    <button type="button" class="btn btn-primary" formmethod="POST"
                                        formaction="/">Verwijderen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edit comment window -->
                <form class="table-edit-form collapse px-2" id="comment1" action="" method="POST">
                    <label for="editComment" class="form-label pt-2">Wijzig je opmerking hier:</label>
                    <textarea class="form-control" id="editComment" rows="3">Gandalf talks way too much.</textarea>
                    <input type="submit" value="Aanpassen" class="btn btn-primary my-2">
                </form>
            </article>
            <a href="#top" class="scroll-to-top"><i class="bi bi-arrow-up-square-fill"></i></a>

        </section>
    </main>

    <%- include('./partials/footer-quiz'); %>