<%- include('./partials/header'); %>

<%- include('./partials/nav'); %>

<main class="container-sm p-3" id="blacklist">
    <section class="my-5">
        <h1>Blacklist</h1>
        <p>Hieronder vind je je blacklist. Klik op de pen om de opmerkingen te wijzigen, of op het vuilbakje om
            quotes uit je blacklist te verwijderen.</p>
    </section>
    <article class="my-2 p-3 odd">
        <div class="d-flex">
            <div class="table-id p-2 fw-bold ms-auto">#1</div>
            <div class="table-quote w-50 me-1 p-2">Yes the white tree of Gondor. The tree of the King. Lord Denethor
                    however, is not the King. He is a steward only, a caretaker of the throne.</div>
            <div class="table-comment w-50 p-2 ms-1"><span class="text-decoration-underline">Jouw opmerking:</span>&nbsp;Gandalf talks way too
                    much.</div>
            <div class="table-row-icons me-auto">
                <div class="table-edit ms-end p-2"><button type="button" class="btn btn-outline-primary"
                    title="Wijzig deze opmerking"><i class="bi bi-pencil-square"></i></button></div>
                <div class="table-trash ms-end p-2"><button type="button" class="btn btn-outline-primary"
                    title="Verwijder uit je blacklist"><i class="bi bi-trash"></i></button></div>
            </div>
        </div>
        <form class="table-row-edit p-2" action="" method="POST">
            <label for="editComment" class="form-label">Wijzig je opmerking hier:</label>
            <textarea class="form-control" id="editComment" rows="3" placeholder="Gandalf talks way too much."></textarea>
            <input type="submit" value="Aanpassen" class="btn btn-primary my-2">
        </form>
    </article>
    <article class="my-2 p-3 even">
        <div class="d-flex">
            <div class="table-id p-2 fw-bold ms-auto">#2</div>
            <div class="table-quote w-50 me-1 p-2">A day may come when the courage of men fails, when we forsake our friends and break all bonds of fellowship, but it is not this day.</div>
            <div class="table-comment w-50 p-2 ms-1"><span class="text-decoration-underline">Jouw opmerking:</span>&nbsp; Corny ass...</div>
            <div class="table-row-icons me-auto">
                <div class="table-edit ms-end p-2"><button type="button" class="btn btn-outline-primary"
                    title="Wijzig deze opmerking"><i class="bi bi-pencil-square"></i></button></div>
                <div class="table-trash ms-end p-2"><button type="button" class="btn btn-outline-primary"
                    title="Verwijder uit je blacklist"><i class="bi bi-trash"></i></button></div>
            </div>
        </div>
        <form class="table-row-edit p-2" action="" method="POST">
            <label for="editComment" class="form-label">Wijzig je opmerking hier:</label>
            <textarea class="form-control" id="editComment" rows="3" placeholder="Gandalf talks way too much."></textarea>
            <input type="submit" value="Aanpassen" class="btn btn-primary my-2">
        </form>
    </article>
    <article class="my-2 p-3 odd">
        <div class="d-flex">
            <div class="table-id p-2 fw-bold ms-auto">#3</div>
            <div class="table-quote w-50 me-1 p-2">It's the tree. Gandalf! Gandalf! </div>
            <div class="table-comment w-50 p-2 ms-1"><span class="text-decoration-underline">Jouw opmerking:</span>&nbsp; Pippin is stating the obvious here, and we all know that that is Legolas' role in the movies. They're taking the Hobbits to Isengard, to Isengard, to Isengard...</div>
            <div class="table-row-icons me-auto">
                <div class="table-edit ms-end p-2"><button type="button" class="btn btn-outline-primary"
                    title="Wijzig deze opmerking"><i class="bi bi-pencil-square"></i></button></div>
                <div class="table-trash ms-end p-2"><button type="button" class="btn btn-outline-primary"
                    title="Verwijder uit je blacklist"><i class="bi bi-trash"></i></button></div>
            </div>
        </div>
        <form class="table-row-edit p-2" action="" method="POST">
            <label for="editComment" class="form-label">Wijzig je opmerking hier:</label>
            <textarea class="form-control" id="editComment" rows="3" placeholder="Gandalf talks way too much."></textarea>
            <input type="submit" value="Aanpassen" class="btn btn-primary my-2">
        </form>
    </article>
    <article class="my-2 p-3 even">
        <div class="d-flex">
            <div class="table-id p-2 fw-bold ms-auto">#4</div>
            <div class="table-quote w-50 me-1 p-2">Now listen carefully. Lord Denethor is Boromir's father. To give him news of his beloved son's death would be most unwise. And do not mention Frodo or the Ring. And say nothing of Aragorn either. In fact, its better if you don't speak at all Peregrin Took.</div>
            <div class="table-comment w-50 p-2 ms-1"><span class="text-decoration-underline">Jouw opmerking:</span>&nbsp;This was simply too easy. Every long ass lecture is from Gandalf.</div>
            <div class="table-row-icons me-auto">
                <div class="table-edit ms-end p-2"><button type="button" class="btn btn-outline-primary"
                    title="Wijzig deze opmerking"><i class="bi bi-pencil-square"></i></button></div>
                <div class="table-trash ms-end p-2"><button type="button" class="btn btn-outline-primary"
                    title="Verwijder uit je blacklist"><i class="bi bi-trash"></i></button></div>
            </div>
        </div>
        <form class="table-row-edit p-2" action="" method="POST">
            <label for="editComment" class="form-label">Wijzig je opmerking hier:</label>
            <textarea class="form-control" id="editComment" rows="3" placeholder="Gandalf talks way too much."></textarea>
            <input type="submit" value="Aanpassen" class="btn btn-primary my-2">
        </form>
    </article>
    <article class="my-2 p-3 odd">
        <div class="d-flex">
            <div class="table-id p-2 fw-bold ms-auto">#5</div>
            <div class="table-quote w-50 me-1 p-2">For the time will soon come when Hobbits will shape the fortunes of all.</div>
            <div class="table-comment w-50 p-2 ms-1"><span class="text-decoration-underline">Jouw opmerking:</span>&nbsp;A gorgeous quote honestly. Galadriel slays. Hobbit activist queen. That being said, it makes me wanna rewatch Rings of Power and I have to contain myself..</div>
            <div class="table-row-icons me-auto">
                <div class="table-edit ms-end p-2"><button type="button" class="btn btn-outline-primary"
                    title="Wijzig deze opmerking"><i class="bi bi-pencil-square"></i></button></div>
                <div class="table-trash ms-end p-2"><button type="button" class="btn btn-outline-primary"
                    title="Verwijder uit je blacklist"><i class="bi bi-trash"></i></button></div>
            </div>
        </div>
        <form class="table-row-edit p-2" action="" method="POST">
            <label for="editComment" class="form-label">Wijzig je opmerking hier:</label>
            <textarea class="form-control" id="editComment" rows="3" placeholder="Gandalf talks way too much."></textarea>
            <input type="submit" value="Aanpassen" class="btn btn-primary my-2">
        </form>
    </article>
</main>

<%- include('./partials/footer'); %>