<%- include('./partials/header-quiz'); %>

    <main class="container mt-5 error">
        <a href="/quiz/" title="Ga terug naar overzicht van projecten">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>

        <section class="card">
            <h1 class="card-header text-left fs-3 py-4">Er ging iets mis</h1>
            <figure>
                <img src="/assets/images/error-frodo.png" alt="Frodo crying" title="Frodo crying"
                    class="card-img-center" />
                <figcaption>
                    &copy; <cite>The Lord of the Rings</cite>
                </figcaption>
            </figure>
            <div class="card-body">
                <% if (locals.errorMessage) { %>
                    <p>
                        <%= errorMessage %>
                    </p>
                    <% } %>
            </div>
        </section>
    </main>

    <%- include('./partials/footer-quiz'); %>