<%- include('./partials/header'); %>
    <%- include('./partials/nav'); %>

<main class="container mt-5">
    <section class="text-center">
        <h1>10-rounds-quiz</h1>
    </section>

    <section class="card" id="quizQuestionCard">
        <h5 class="card-header text-center">Vraag 1</h5>
        <div class="card-body text-center">

            <!-- Quote -->
            <h5 class="card-title">Quote</h5>
            <p class="card-text">A day may come when the courage of men fails, when we forsake our friends and
                break all bonds of fellowship, but it is not this day.
            </p>

            
            <!-- Form Questions -->
            <form id="radioBtnGroups" class="row justify-content-center" action="" method="POST">
                
                <!-- Thumbs-up & Thumbs-down buttons -->
                <div class="d-sm-block pb-3" role="group">
                    <input type="radio" class="btn-check" name="btnThumbs" id="btnradioThumbsUp" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradioThumbsUp" title="Voeg toe aan jouw favorieten"><i class="bi bi-hand-thumbs-up"></i></label>

                    <input type="radio" class="btn-check" name="btnThumbs" id="btnradioThumbsDown" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradioThumbsDown" title="Voeg toe aan jouw black list"><i class="bi bi-hand-thumbs-down"></i></label>
                </div>
                
                <!-- First row: 3 Characters -->
                <h6 class="pb-3">Welk personage deed deze uitspraak? </h6>
                <div class="d-grid gap-2 col-6 mx-auto" role="group">
                    <input type="radio" class="btn-check" name="btnradioChar" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Gandalf</label>

                    <input type="radio" class="btn-check" name="btnradioChar" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Aragorn II Elessar</label>

                    <input type="radio" class="btn-check" name="btnradioChar" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Galadriel</label>
                </div>

                <!-- Second row: 3 movies -->
                <h6 class="pb-3">Uit welke film komt deze uitspraak? </h6>
                <div class="d-grid gap-2 col-6 mx-auto" role="group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">The Fellowship of the Ring</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio5">The Two Towers</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio6">The Return of the King</label>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary col-sm-3 mx-auto">Submit</button>
            </form>
        </div>
    </section>
</main>

<%- include('./partials/footer'); %>