    <%- include('./partials/header-quiz'); %>

            <main id="quiz" class="container">
                <div class="heading my-3">

                    <h1>The One Quiz</h1>
                    <p>Test je kennis met deze quiz over bekende citaten uit de Lord Of The Rings trilogie! Kies het correcte personage en de juiste film voor elke quote. Selecteer hieronder het type quiz dat jij aandurft</p>

                </div>
                
                <div class="row justify-content-md-center">
                    <div id = "quizpage" class="row gx-5">
                    <article class="col-sm-6">
                        <div class="card mb-4">
                            <img src="/assets/images/GandalfMoria.PNG" alt="Gandlf in Moria" title="https://wall.alphacoders.com/big.php?i=86190" class="card-img-top" alt="Card Image">
                            <div class="card-body">
                                <h2 class="card-title">10 rounds</h2>
                                <p class="card-text">De quiz is 10 vragen lang. Zal jij een 10 op 10 kunnen halen?</p>
                                <a href="quiz/10rounds/question/1" class="btn btn-primary w-100">I Will take the ring</a>
                            </div>
                        </div>
                    </article>

                    <article class="col-sm-6">
                        <div class="card mb-4">
                            <img src="/assets/images/EyeOfSauron.PNG" alt="Eye of Sauron" title="https://wall.alphacoders.com/big.php?i=172374" class="card-img-top" alt="Card Image">
                            <div class="card-body">
                                <h2 class="card-title">Sudden Death</h2>
                                <p class="card-text">De quiz eindigt zodra je verkeerd antwoordt. Hoe lang kan jij het volhouden? Of struikel je over de eerste vraag?</p>
                                <a href="quiz/10rounds/question/1" class="btn btn-primary w-100">I do not fear death</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            </main>


            <%- include('./partials/footer'); %>