<%- include('./partials/header'); %>

    <%- include('./partials/nav'); %>

        <main id="quiz" class="container" style="margin: auto">
            <div class="heading my-3">

                <h1>Kies tussen 2 quizes</h1>
                <p>Kies je voor 10 rounds of SD?</p>

            </div>
            
            <div class="row justify-content-md-center">
                <article class="col-sm-6">
                    <div class="card mb-4">
                        <img src="/assets/images/Frodo10Questions.jpeg" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">LOTR 10 ronden quiz</h5>
                            <p class="card-text">Test je kennis met deze quiz over bekende citaten uit de Lord of the
                                Rings trilogie!</p>
                            <a href="/quiz" class="btn btn-primary w-100">I Will take the ring</a>
                        </div>
                    </div>
                </article>

                <article class="col-sm-6">
                    <div class="card mb-4">
                        <img src="/assets/images/FrodoGandalfSD.jpeg" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">LOTR Sudden Death Quiz</h5>
                            <p class="card-text">Test je kennis met deze quiz over bekende citaten uit de Lord of the
                                Rings trilogie!</p>
                            <a href="/quiz" class="btn btn-primary w-100">I do not fear death</a>
                        </div>
                    </div>
                </article>
            </div>
        </main>


        <%- include('./partials/footer'); %>