<%- include('./partials/header-quiz'); %>

<main class="container mt-5" id="score">
    <section class="card text-center">
        <h1 class="card-header fs-3">Score</h1>
        <img class="card-img-top" src="/assets/images/ScoreImg.jpeg" alt="Score">
        <h2 class="fs-4 mt-2">Goed gespeeld!</h2>
        <div class="card-body mb-2 p-1">
            <p class="card-text fs-5">Huidige Score: 80</p>
            <p class="card-text fs-5">Hoogste Score: 90</p>
        </div>
        <div class="card-footer text-muted">
            <a href="/user/1/quiz" class="btn btn-primary">Terug naar quiz</a>
        </div>
    </section>
</main>

<%- include('./partials/footer'); %>