<%- include('./partials/header-quiz'); %>

<main class="container mt-5" id="score">
    <section class="card text-center">
        <h3 class="card-header">
            Score
        </h3>
        <div class="card-body">
            <h5 class="card-title">Huidige Score: 80</h5>
            <p class="card-text">Hoogste Score: 90</p>
        </div>
        <div class="card-footer text-muted">
            <a href="/user/1/quiz" class="btn btn-primary">Terug naar quiz</a>
        </div>
    </section>
</main>

<%- include('./partials/footer'); %>