$primary: rgb(91, 29, 3);
$secondary: rgb(179, 107, 0);

$success: darkgreen;
$danger: darkred;

$body-color: rgb(27, 13, 0);

$body-bg: rgba(255, 255, 255, 0.6);
$body-secondary-bg: rgba(255, 255, 255, 0.3);
$body-tertiary-bg: rgba(255, 255, 255, 0.5);

$border-color: rgba($secondary, .3);
$border-color-translucent: rgba($secondary, .3);

@import "../../node_modules/bootstrap/scss/bootstrap";