/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@font-face {
    font-family: Ringbearer;
    src: url("/assets/fonts/RingbearerMedium-51mgZ.ttf");
    /* Licensed for non-commercial work
    https://www.fontspace.com/ringbearer-font-f2246 */
}

/* header */
.navbar-brand {
  height: 3rem;
}

.navbar-brand img{
    height: 100%;
    width: 100%;
  }

body {
    font-family: 'Signika', sans-serif;
    font-size: 1.1rem;
    background-color: rgb(244, 223, 169);
    background-image: url("/assets/images/parchment.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1, h2, .navbar-nav {
    font-family: 'Ringbearer', serif;
}

h2, .navbar-nav {
    text-transform: lowercase;
}

.table-quote, .lotr-quote {
    font-style: italic;
}

/* Quizpagina */
#quiz {
    margin: auto;
    max-width: 1250px;
}

#quiz .heading {
    text-align: center;
}

#quiz .card{
    height: 100%;

}

#quiz article{
    margin-bottom: 2rem;

}

#quiz .card-body{
    display: flex;
    flex-direction: column;
}

#quiz .card-text{
    flex-grow: 1;
    margin: 0;
    
}


/* question page */

#radio-btn-group {
    display: flex;
    flex-direction: column;
}

#quiz-question-card .card-body div {
    margin-bottom: 2rem;
}

.question-container {
    max-width: 720px;
}

/* favorites, character and blacklist */

#character,
#favorites,
#blacklist {
    max-width: 1000px;
}

.table-custom article:nth-child(odd) {
    background-color: var(--bs-secondary-bg);
}

.table-custom article:nth-child(even),
#navbar,
#footer {
    background-color: var(--bs-tertiary-bg);
}

#character .table-id,
#character .table-delete-button,
#favorites .table-id,
#favorites .table-delete-button {
    flex-basis: 2rem;
}

#favorites .table-name,
#favorites .table-count {
    flex-basis: 10rem;
}

#character .table-quote,
#favorites .table-quote {
    flex-basis: 100%;
}

.modal-content {
    background-color: rgb(244, 223, 169);
    background-image: url("/assets/images/parchment.jpg");
    background-position: center;
    background-attachment: fixed;
}

.scroll-to-top {
    font-size: 2.5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 50%;
    transition: opacity .2s;
}

.scroll-to-top:hover {
    opacity: 100%;
}

@media screen and (max-width: 768px) {
    #character .table-custom>article,
    #favorites .table-custom>article {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #favorites .table-name {
        flex-basis: 6rem;
    }
    #favorites .table-count {
        flex-basis: 6rem;
        flex-grow: 1;
    }
    #character .table-quote,
    #favorites .table-quote {
        order: 1;
    }

    #blacklist .table-id {
        margin-left: 0 !important;
    }
    #blacklist .table-quote,
    #blacklist .table-comment {
        flex-basis: 100%;
        margin: 0 !important;
    }
    #blacklist article>div {
        flex-wrap: wrap;
    }
    #blacklist .table-icons {
        display: flex;
        flex-basis: 100%;
    }
    #blacklist .table-icons div {
        flex-basis: 50%;
    }
    #blacklist .table-icons button {
        width: 100%;
    }

    #quizpage {

        padding-left: 0;
        padding-right: 0;

    }

}

#score {
    margin: auto;
    height: 50vh;
    max-width: 50%;
}
