/* favorites and blacklist */

#favorites, #blacklist {
    max-width: 1000px;
}

.odd {
    background-color: var(--bs-secondary-bg);
}

.even {
    background-color: var(--bs-tertiary-bg);
}

#favorites .table-id, #favorites .table-trash {
    flex-basis: 2rem;
}

#favorites .table-name, #favorites .table-count {
    flex-basis: 6rem;
}

#favorites .table-quote {
    flex-basis: 100%;
}

.table-row-edit {
    display: none;
}

@media screen and (min-width: 768px) {
    #favorites .table-id {
        order: 0;
    }
    #favorites .table-name {
        order: 1;
    }
    #favorites .table-count {
        order: 2;
    }
    #favorites .table-quote {
        flex-basis: 0;
        flex-grow: 1;
        order: 3;
    }
    #favorites .table-trash {
        order: 4;
    }
}

@media screen and (max-width: 768px) {
    #blacklist .table-id {
        margin-left: 0 !important;
    }

    #blacklist .table-quote, #blacklist .table-comment {
        flex-basis: 100%;
    }

    #blacklist article>div {
        flex-wrap: wrap;
    }

    #blacklist .table-row-icons {
        display: flex;
        flex-basis: 100%;
    }

    #blacklist .table-row-icons div {
        flex-basis: 50%;
    }

    #blacklist button {
        width: 100%;
    }
}









#radioBtnGroups {
    display: flex;
    flex-direction: column;
}

#radioBtnGroups label{
    width: 100%;
}

#quizQuestionCard div {
    margin-bottom: 2rem;
}
