#landingPage article {
    margin-bottom: 2rem;
}

#landingPage article>div {
    height: 100%;
}

#landingPage .card-body {
    display: flex;
    flex-direction: column;
}

#landingPage .card-text {
    flex-grow: 1;
    margin: 0;
}

#login section,
#register section {
    margin: auto;
}

#login,
#register,
#login .card,
#register .card {
    max-width: 500px;
}