/* favorites and blacklist */

#favorites,
#blacklist {
    max-width: 1000px;
}

.table-custom article:nth-child(odd) {
    background-color: var(--bs-secondary-bg);
}

.table-custom article:nth-child(even) {
    background-color: var(--bs-tertiary-bg);
}

#favorites .table-id,
#favorites .table-delete-button {
    flex-basis: 2rem;
}

#favorites .table-name,
#favorites .table-count {
    flex-basis: 10rem;
}

#favorites .table-quote {
    flex-basis: 100%;
}

#blacklist .table-edit-form {
    display: none;
}

@media screen and (max-width: 768px) {
    #favorites .table-custom>article {
        flex-wrap: wrap;
    }
    #favorites .table-name {
        flex-basis: 6rem;
    }
    #favorites .table-count {
        flex-basis: 6rem;
        flex-grow: 1;
    }
    #favorites .table-quote {
        order: 1;
    }

    #blacklist .table-id {
        margin-left: 0 !important;
    }
    #blacklist .table-quote,
    #blacklist .table-comment {
        flex-basis: 100%;
    }
    #blacklist article>div {
        flex-wrap: wrap;
    }
    #blacklist .table-icons {
        display: flex;
        flex-basis: 100%;
    }
    #blacklist .table-icons div {
        flex-basis: 50%;
    }
    #blacklist button {
        width: 100%;
    }
}